{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}

<h1 class="h1_profil pb-3">Password Reset Email Sent</h1>
    <div class="col-md-12 ml-4">
        If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </div>
    <div class="col-md-12 ml-4">If you don't receive an email please check your spam folder or <a class="register" href="{{ path('app_forgot_password_request') }}">try again</a>.</div>
{% endblock %}
