{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <h1 class="h1_profil pb-3">Reset your password</h1>

    {{ form_start(resetForm) }}
    <div class="col-md-3 ml-4">
        {{ form_row(resetForm.plainPassword) }}
    </div>
        <button class="btn btn-success-success">Reset password</button>
    {{ form_end(resetForm) }}
{% endblock %}
