{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité
{% endblock %}

{% block body %}
<div class="container-fluid">
<h1>Politique de confidentialité</h1>
<h2>Introduction</h2>
<p>Dans le cadre de son activité, la société Lingoland, dont le siège social est situé au 22 Place de la Nation, 75012, Paris, est amenée à collecter et à traiter des informations dont certaines sont qualifiées de "données personnelles".Lingoland attache une grande importance au respect de la vie privée, et n’utilise que des donnes de manière responsable et confidentielle et dans une finalité précise.</p>

<h2>Données personnelles</h2>
<p>Sur le site web Lingoland.fr, il y a 2 types de données susceptibles d’être recueillies :</p>
<ul>
<li>Les données transmises directement : Ces données sont celles que vous nous transmettez directement, via un formulaire de contact ou bien par contact direct par email. Sont obligatoires dans le formulaire de contact le champs « prénom et nom », « entreprise ou organisation » et « email ».</li>
<li>Les données collectées automatiquement : Lors de vos visites, une fois votre consentement donné, nous pouvons recueillir des informations de type « web analytics » relatives à votre navigation, la durée de votre consultation, votre adresse IP, votre type et version de navigateur. La technologie utilisée est le cookie.</li>
</ul>
<h2>Utilisation des données</h2>
<p>Les données que vous nous transmettez directement sont utilisées dans le but de vous re-contacter et/ou dans le cadre de la demande que vous nous faites. Les données « web analytics » sont collectées de forme anonyme (en enregistrant des adresses IP anonymes) par Google Analytics, et nous permettent de mesurer l'audience de notre site web, les consultations et les éventuelles erreurs afin d’améliorer constamment l’expérience des utilisateurs. Ces données sont utilisées par Lingoland, responsable du traitement des données, et ne seront jamais cédées à un tiers ni utilisées à d’autres fins que celles détaillées ci-dessus.</p>
<h2>Base légale</h2>
<p>Les données personnelles ne sont collectées qu’après consentement obligatoire de l’utilisateur. Ce consentement est valablement recueilli (boutons et cases à cocher), libre, clair et sans équivoque.</p>
<h2>Durée de conservation</h2>
<p>Les données seront sauvegardées durant une durée maximale de 3 ans.</p>
<h2>Cookies</h2>
<p>Voici la liste des cookies utilisées et leur objectif :
Cookies Google Analytics (liste exhaustive) : Web analytics</p>
<h2>Vos droits concernant les données personnelles</h2>
<p>Vous avez le droit de consultation, demande de modification ou d’effacement sur l’ensemble de vos données personnelles. Vous pouvez également retirer votre consentement au traitement de vos données.</p>
<h2>Contact délégué à la protection des données</h2>
<p>Aynur Kaysoy -  + 33 7 69 99 55 44 /  + 33 1 60 29 44 51</p>
</div>
{% endblock %}