{% extends 'base.html.twig' %}

{% block title %}Mentions légales
{% endblock %}

{% block body %}
<div class="container-fluid">
<br>
<h1>Mentions légales</h1>
<br>
<p><strong>Identité et coordonnées</strong></h2>
<p>Aynur Kaysoy</p>
<p>contact@lingoland.fr</p>
<p>00 33 1 22 33 44 55</p>
<p>Place de la Nation, 75012, Paris, France</p>

<br>
<p><strong>Hébergeur</strong></p>
<p>Heroku, Inc</p>
<p>415 Mission Street, Suite 300, San Francisco, CA 94105</p>

</div>
{% endblock %}