{% extends 'base.html.twig' %}

{% block title %}Mentions légales
{% endblock %}

{% block body %}
<div class="container-fluid">
<h1>Mentions légales</h1>
<p>Aynur Kaysoy</p>
<p>contact@lingoland.fr</p>
<p>00 33 1 22 33 44 55</p>
<p>Place de la Nation, 75012, Paris, France</p>

<h2>Hébergeur</h2>
<p>********</p>
<p>********</p>
<p>********</p>
<p>********</p>

</div>
{% endblock %}