@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: Lato;
   }

h1{
    color:#F49819;
    font-size: 45px;
    font-family: Lato;
}

h2{
    padding: 20px;
    color:#22994C;
    text-align: center;
    font-family: Lato;
}

.btn-success{
    background-color:#FFFFFF !important;
    border-color:#FFFFFF !important;
    border-radius:50px !important;
    padding: 0px 0px !important;
}

.btn-success-success{
    background-color:#3007AF !important;
    border-color:#FFFFFF !important;
    border-radius:50px !important;
    padding: 20px 30px !important;
    border-color:#3007AF !important;
}

.btn-success-success:hover{
    background-color:#FFFFFF !important;
    color:#3007AF !important;
    border-radius:50px !important;
    padding: 20px 30px !important;
}

.btn-success a {
    color: #FFFFFF !important;
    padding: 20px 30px !important;
    border-radius:50px !important;
    background-color:#3007AF !important;
    border-color:#3007AF !important;
}

.btn-success a:hover {
    text-decoration: none;
    color:#3007AF !important;
    background-color: #FFFFFF !important;
    border:1px solid #3007AF;

}

.btn-success2 a:hover {
    text-decoration: none;
    color:#22994C !important;
    background-color: #FFFFFF !important;
    border:1px solid #22994C;
}

a:hover{
    text-decoration: none;
    color: #F49819;
}

.navbar-light .navbar-nav .nav-link{
    color:#5A5A5A !important;
    font-family: Lato !important;
}

.navbar-light .navbar-nav .nav-link:hover{
    color:#F49819 !important;
}


.main_ban{
    background-image:url(/images/6.png);
    background-size:cover;

}

.gap{
    padding: 20px;
}

.textbanner{
    text-align: center;
    padding: 50px 10px;
}

.list-group-flush>.list-group-item {
    border-width: 0 0 0px !important;
    padding: 5px 30px 5px 40px !important;
}

img.list-group-item{
    border-width: 0 0 0px !important;
}

.img-fluid{
    border-width: 0 0 0px !important;
}

a{
    color:#777777;
    font-family: Lato !important;
    font-size: 20px;
}


img{
    height: 50px;
}

.btn{
    margin:30px;
    padding: 20px;
}

.btn-secondary{
    margin:30px 0;
    padding: 10px;
    background-color: #F49819 !important;
}

ul{
    list-style: none;
}

li{
    padding: 10px;
    font-size: 20px
}
p{
    padding-right: 20px;
    font-size: 20px
}

nav.bg-success{
    background-color: #E5E4E4 !important;
}

img.why{
    border-radius: 5%;
    margin: auto;
}
.card-title{
    color:#3007AF !important;
    padding:10px;
    text-align: center;
    font-family: Lato;
    font-size: 21px;
}

h6{
    color:#F49819;
    font-family: Lato;
}

.photo_membre{
    border-radius: 50px;
    width: 300;
}

.img_liste{
    margin: 20px;
    border: 5px;
}

.filter{
    display:block;
    position: stucky;
    top: 20px;
}

.filter h2{
    font-size: 20px;
    color: #22994C !important;
    justify-content: left;
}

.register{
    color: #3007AF !important;
}

a.register:hover{
    text-decoration: none;
    color : #F49819 !important;
}


li.nav-item{
    padding:0px !important;
    text-decoration: none !important;
}

a.nav-item{
    text-decoration: none !important;
}


legend,label{
    font-family: lato !important;
}

footer{
    background-color:#D0D5D1!important;
}
img.flag{
    height:60px;
    padding: 0 5px;
}

.dash button{
    width:220px !important;
    border-radius: 5px;
    border-color: #22994C;
    margin: 50px 5px;
    padding-top: 15px !important;
}

.dash a:hover{
    text-decoration: none;
    color:#F49819;
    background-color: #FFFFFF;
}


.font-10 a{
    font-size: 15px;
}

.h1_profil{
    color:#3007AF;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    margin-top: 20px;
}

.bg-dark{
    background-color:#F49819 !important;
}

.h1_profil2{
    color:#22994C;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.btn-success2{
    background-color:#22994C !important;
    border-color:#22994C !important;
    border-radius:50px !important;
    padding: 20px 30px !important;
}

.btn-success2:hover{
    color:#22994C !important;
    border-color:#22994C !important;
    border-radius:50px !important;
    padding: 20px 30px !important;
    background-color: #FFFFFF !important;
}

.far {
    padding-right: 20px;
}

.dropdown-menu a:hover {
    background-color:#FFFFFF !important;
    color:#22994C !important;
  }

.list-group-item-action:hover {
    color: #F49819 !important;
    border-color: #FFF !important;
}

.list-group-item-action {
    z-index: 5;
    color: #777777 !important;;
    background-color:#FFFFFF !important;
}

.messagerie {
    padding:20px 0px;
    font-size: 30px;
}

.tableau-header{
    font-size: 20px;
    color: #22994C;
    border: 0.5px solid black !important;
    text-align: center !important;
    padding: 5px;
}

.tableau-item{
    text-align: center !important;
    background-color: #E5E4E4;
    padding: 10px;
    font-size: 15px !important;
}

.messagerie-lien:hover{
    color: #22994C !important;
    text-decoration: none;
}

.messagerie-button{
    margin:10px 0 0 0 !important;
}

.messagerie-button:hover{
    color:#FFFFFF !important;
}

.btn-danger{
    background-color: #F49819 !important;
    border-color: none;
}

.btn-danger:hover{
    background-color: #FFFFFF!important;
    border-color: none;
    color: #F49819 !important;
}

.centre{
    margin: 0 auto;
    margin-top: 10px;
}

.fas{
    padding-left: 20px !important;
}

.text-reset:hover{
    text-decoration: none !important;
    color:#22994C !important;
}

.accordion-button{
    font-size: 20px !important;
    font-family: lato !important;
    color: #888 !important;
}

.accordion-button:hover{
    color: #F49819 !important;
}

.accordion-body{
    font-family: lato !important;
}

.accordion-item{
    border-bottom: 0.2px solid #F49819 !important;
}

.alert-danger{
    background-color: #F49819 !important;
    text-align: center;
}

.alert-success{
    background-color: #22994C !important;

}